$light-background: #E1E7F1;
$dark-background: #C1BEB9;
$blue: #0E0E0E;
$beige: #BAACA0;
$dark: #0C0B0C;
$display-font-stack: 'BebasNeueRegular', sans-serif;
$font-stack: 'ChaparralPro-Light', georgia, serif;
$sans-font-stack: 'Open Sans', sans-serif;